<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<link rel="stylesheet" href="../public/css/cuentas.css">
<title>Base de Datos</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="container">
            <div class="row">
                <h1>Actualizar Base de Datos</h1>
                <blockquote>
                    <%= typeof msg != 'undefined' ? msg : '' %>
                    <%= typeof aux != 'undefined' ? aux : '' %>
                </blockquote>
                <div class="input-field col s12">
                    <form action="/actualizarBD" method="POST">
                        <!-- <input type="text" placeholder="Nombre del archivo" class="input-field"> -->
                        <br>
                        <select name="bdname">
                            <option selected disabled>Seleccione</option>
                            <% for(var i=0; i<bds.length; i++) {%>
                            <option value="<%= bds[i].bdname %>"><%= bds[i].bdname %></option>
                            <% } %>
                        </select>
                        <br>
                        <hr>
                        <div class="center">
                            <div class="input-field col s12">
                                <button type="submit" class="btn col s6" name="btn_actualizar_emp">Acualizar Empresas </button>
                               <p class="col s6"><b>Empresas: </b> <%= typeof count.emp != 'undefined' ? count.emp : '' %></p>
                                <!-- <button type="submit" class="btn" name="btn_actualizarbd_bnf">Actualizar Beneficiarios </button> -->
                               <b>Asegurados: </b> <%= typeof count.ase != 'undefined' ? count.ase : '' %>
                                <button type="submit" class="btn col s6" name="btn_actualizar_ase">Actualizar Asegurados </button>
                               <b>Beneficiarios: </b> <%= typeof count.bnf != 'undefined' ? count.bnf : '' %>
                            </div>
                            <div class="input-field col s12">
                                <p>
                                    Ultima actualizacion de Empresas:
                                </p>
                                <p>
                                    Ultima actualizacion de Asegurados:
                                </p>
                                <p>
                                    Ultima actualizacion de Beneficiarios:
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>