<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<title>Buscar Asegurado</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="row col s12">
            <form method="POST" class="col s6" id="form1">
                <h3>Buscar Asegurado</h3>
                <div class="input-field col s12">
                    <select name="tipo_asegurado" id="tipo_asegurado">
                        <option value="0" disabled selected>Elige un Tipo</option>
                        <option value="1">Asegurado</option>
                        <option value="2">Beneficiario</option>
                    </select>
                    <label>Tipo de Asegurado</label>
                    <blockquote>
                        <%= typeof loginMessage != 'undefined' ? loginMessage : '' %>
                        <%= typeof message != 'undefined' ? message : '' %>
                    </blockquote>
                </div>
                <div class="input-field col s9">
                    <input id="search" name="edtBuscar" type="text" class="validate"
                        value="<%= typeof id != 'undefined' ? id : '' %><%= typeof aux != 'undefined' ? aux : '' %>">
                    <label for="search">Codigo</label>
                </div>
                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" type="submit" name="btnBuscar" id="btnBuscar"
                        disabled>Buscar
                        <i class="material-icons right">search</i>
                    </button>
                </div>
                <div class="input-field col s9">
                    <input id="name" name="nombre" type="text" class="validate"
                        value="<%= typeof nombre != 'undefined' ? nombre : '' %>" disabled>
                    <label for="name">Nombres</label>
                </div>
                <div class="col s3">
                    <img style="max-width: 100%; max-height: 150px;" src="<%= typeof file_ase != 'undefined' ? file_ase : '' %>">
                </div>
                <div class="input-field col s9">
                    <input id="last_name" name="apellidos" type="text" class="validate"
                        value="<%= typeof apellido != 'undefined' ? apellido : '' %>" disabled>
                    <label for="last_name">Apellidos</label>
                </div>
                <div class="col s3">
                    <div class="file-field input-field">
                        <%# if (file_ase === '' && nombre !== '') { %>
                        <div class="file-field input-field">
                            <div>
                                <input type="file" name="myPhoto" id="myPhoto" disabled>
                            </div>
                            <div class="input-field">
                                <input class="file-path validate" type="text" disabled>
                                <label for="myPhoto">Seleccione una Foto</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="btnAgregarFoto"
                            id="btnAgregarFoto" disabled>Agregar
                            Foto
                            <i class="material-icons right">add_a_photo</i>
                        </button>
                        <%#}%>
                    </div>
                </div>

                <div class="input-field col s12">
                    <input id="company" name="empresa" type="text" class="validate"
                        value="<%= typeof res.nom_emp != 'undefined' ? res.nom_emp : '' %>" disabled>
                    <label for="company">Empresa</label>
                </div>
                <div class="input-field col s12">
                    <input id="join_date" name="empresa" type="text" class="validate"
                        value="<%= typeof res.fec_ing != 'undefined' ? res.fec_ing : '' %>" disabled>
                    <label for="join_date">Fecha de Ingreso</label>
                </div>
                <div class="input-field col s12">
                    <input id="num_matricula" name="nro_matricua" type="text" class="validate"
                        value="<%= typeof codigo != 'undefined' ? codigo : '' %>" disabled>
                    <label for="num_matricula">Nro. Matricula</label>
                </div>
                <div class="input-field col s12">
                    <input id="birth_date" name="birth_date" type="text" class="validate"
                        value="<%= typeof res.fec_nac != 'undefined' ? res.fec_nac : '' %>" disabled>
                    <label for="birth_date">Fecha de Nacimiento</label>
                </div>
                <div class="input-field col s6">
                    <input id="ci" name="ci" type="text" class="validate"
                        value="<%= typeof res.ci != 'undefined' ? res.ci : '' %>" <% if(res.ci !== null){ %> readonly <% } else {%><%= res.ci %><%}%>>
                    <label for="ci">CI.</label>
                </div> 
                <div class="input-field col s3">
                         <select name="ci_loc" id="ci_loc">
                             <option value="<%= res.ci_loc %>" selected><% if(res.ci_loc !== null){%><%= res.ci_loc %>
                    <% } else {%>Elige un Lugar<%}%></option>
                        <option value="CH" <% if(res.ci_loc !== null){ %> disabled<% }%>>Chuquisaca</option>
                    <option value="LP" <% if(res.ci_loc !== null){ %> disabled<% }%>>La Paz</option>
                    <option value="CB" <% if(res.ci_loc !== null){ %> disabled<% }%>>Cochabamba</option>
                    <option value="OR" <% if(res.ci_loc !== null){ %> disabled<% }%>>Oruro</option>
                    <option value="PT" <% if(res.ci_loc !== null){ %> disabled<% }%>>Potosí</option>
                    <option value="TJ" <% if(res.ci_loc !== null){ %> disabled<% }%>>Tarija</option>
                    <option value="SC" <% if(res.ci_loc !== null){ %> disabled<% }%>>Santa Cruz</option>
                    <option value="BE" <% if(res.ci_loc !== null){ %> disabled<% }%>>Beni</option>
                    <option value="PD" <% if(res.ci_loc !== null){ %> disabled<% }%>>Pando</option>
                    </select>
                    <label>Lugar</label>
                </div>
                <div class="input-field col s6">
                    <select name="select_sangre" id="select_sangre">
                        <option value="<%= res.tipo_sangre %>" selected><% if(res.tipo_sangre !== null){ %><%= res.tipo_sangre %>
                            <% } else {%>Elige un Tipo<%}%></option>
                            <option value="A+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>A+</option>
                        <option value="A-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>A-</option>
                        <option value="B+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>B+</option>
                        <option value="B-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>B-</option>
                        <option value="AB+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>AB+</option>
                        <option value="AB-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>AB-</option>
                        <option value="O+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>O+</option>
                        <option value="O-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>O-</option>
                    </select>
                    <label>Tipo de Sangre</label>
                </div>
                <div class="input-field col s6">
                    <% if (res.tipo_sangre === null || res.tipo_sangre == '' || res.ci === null || res.ci_loc == '') { %>
                    <button class="btn waves-effect waves-light" type="submit" name="btnRegistrar" id="btnRegistrar"
                        disabled>Registrar
                        <i class="material-icons right">person_add</i>
                    </button>
                    <%}%>
                    </div>
                </form>
                <div class="col s6" id="historialA" style="height: 800px; overflow-y: scroll;">
                        <h3>Historial de Carnet</h3>
                        <% if (nombre !== '' && res.tipo_sangre !== null) { %>
                    <button class="btn waves-effect waves-light" type="button" name="btnImprimir"
                        id="btn_add_card_A">Agregar Carnet
                        <i class="material-icons right">add_box</i>
                    </button>
                    <%}%>
                        <% for(var i=0; i<historial.length; i++) {%>
                    <div class="card blue-grey">
                        <div class="card-content white-text">
                            <h5><b>Carnet: </b> <%= historial[i].id_carnet %> (<%= historial[i].estado %>)
                                front:<%= historial[i].front %> back:<%= historial[i].back %>
                            </h5>
                            <form action="/verificarCarnetA" method="POST">
                                <ul>
                                    <input type="text" name="id_carnet" value="<%= historial[i].id_carnet %>" hidden>
                                    <li><b>Usuario: </b> <input type="text" name="usuario"
                                            value="<%= historial[i].login %>" hidden><%= historial[i].login %>
                                    </li>
                                    <li><b>Fecha: </b> <%= historial[i].created_at %></li>
                                    <li style="background-color: #ee6e73;"><b>Comprobante:</b>
                                        <%= historial[i].comprobante %>
                                        <input type="text" name="nro_comprobante"
                                            value="<%= historial[i].comprobante %>" hidden>
                                    </li>
                                    <li><b>Fecha Comprobante: </b> <%= historial[i].fec_comp %></li>
                                    <input type="text" name="codigo" value="<%= historial[i].cod_asegurado %>" hidden>
                                    <li class="card teal"><b>Motivo: </b> <%= historial[i].motivo %></li>
                                    <% if (historial[i].estado === 0) { %>
                                    <button class="btn waves-effect waves-light" type="submit" name="btnImprimir"
                                        id="btnImprimir">Imprimir
                                        <i class="material-icons right">print</i>
                                    </button>
                                    <% } %>
                                    <% if (historial[i].estado === 1 && historial[i].created_at === historial[i].fec_servidor) { %>
                                    <button class="btn waves-effect waves-light" type="submit" name="btnRImprimir"
                                        id="btnRImprimir">ReImprimir
                                        <i class="material-icons right">print</i>
                                    </button>
                                    <% } %>
                                    <% if (historial[i].comprobante === null) { %>
                                    <div class="input-field">
                                        <input
                                            id="<%= typeof historial[i].id_carnet != 'undefined' ? historial[i].id_carnet : '' %>"
                                            name="comprobante" type="text" class="validate" value="">
                                        <label
                                            for="<%= typeof historial[i].id_carnet != 'undefined' ? historial[i].id_carnet : '' %>">Nro.
                                            Comprobante</label>
                                        <button class="btn waves-effect waves-light" type="submit" name="btnComprobar"
                                            id="btnComprobar">Comprobar
                                            <i class="material-icons right">search</i>
                                        </button>
                                    </div>
                                </ul>
                                <% } %>
                            </form>
                        </div>
                    </div>
                    <% } %>
                </div>
        </div>
    </main>
    <script>
        //recuperar los datos del formulario
        const codigo = document.getElementById('search').value;

        $("#btn_add_card_A").click(function () {
            $("#historialA").append(`<div class="card blue-grey">
        <div class="card-content white-text">
            <h5>Nuevo Carnet</h5>
            <form action="/numComprobanteA" method="POST">
                <ul>
                    <li>Usuario: <%= user.email %></li>
                    <li>Codigo: ${codigo}</li>
                    <input name="codigo" type="text" class="validate" value="${codigo}" hidden>
                    <input name="tipo" type="text" class="validate" value="1" hidden>
                    <input name="comprobante" type="text" class="validate" value="" placeholder="Numero de Comprobante" required>
                    <input name="motivo" type="text" class="validate" value="" placeholder="Motivo" required>
                    <button class="btn waves-effect waves-light" type="submit" name="btnConsultar"
                        id="btnConsultar">Consultar
                        <i class="material-icons right">search</i>
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" name="btnRegistrar"
                        id="btnRegistrar">Registrar
                        <i class="material-icons right">add_box</i>
                    </button>
                </ul>
            </form>
        </div>
    </div>`);
        });
        $('#btnAgregarFoto').click(() => {
            $('#form1').attr('enctype', 'multipart/form-data');
            if ($('#tipo_asegurado').val() == '1') {
                $('#form1').attr('action', '/agregarFotoAsegurado');
            }
            if ($('#tipo_asegurado').val() == '2') {
                $('#form1').attr('action', '/agregarFotoBeneficiario');
            }
        })
        $('#myPhoto').click(() => {
            $('#form1').attr('enctype', 'multipart/form-data');
            $('#form1').attr('action', '/agregarFotoAsegurado');

        })
        $('#btnBuscar').click(() => {
            $('#form1').attr('enctype', '');
            if ($('#tipo_asegurado').val() == '1') {
                $('#btnBuscar').prop('disabled', false);
                $('#btnRegistrar').prop('disabled', false);
                $('#btnAgregarFoto').prop('disabled', false);
                $('#myPhoto').prop('disabled', false);
                $('#form1').attr('action', '/buscarAsegurado');
                $('#form_foto').attr('action', '/buscarAsegurado');
            }
            if ($('#tipo_asegurado').val() == '2') {
                $('#form1').attr('action', '/buscarBeneficiario');
                $('#form_foto').attr('action', '/buscarBeneficiario');
                $('#btnBuscar').prop('disabled', false);
                $('#btnRegistrar').prop('disabled', false);
                $('#btnAgregarFoto').prop('disabled', false);
                $('#myPhoto').prop('disabled', false);

            }
        })

        $("#tipo_asegurado").change(function () {
            if ($('#tipo_asegurado').val() == '1') {
                $('#btnBuscar').prop('disabled', false);
                $('#btnRegistrar').prop('disabled', false);
                $('#btnAgregarFoto').prop('disabled', false);
                $('#myPhoto').prop('disabled', false);
                $('#form1').attr('action', '/buscarAsegurado');
                $('#form_foto').attr('action', '/buscarAsegurado');
            }
            if ($('#tipo_asegurado').val() == '2') {
                $('#form1').attr('action', '/buscarBeneficiario');
                $('#form_foto').attr('action', '/buscarBeneficiario');
                $('#btnBuscar').prop('disabled', false);
                $('#btnRegistrar').prop('disabled', false);
                $('#btnAgregarFoto').prop('disabled', false);
                $('#myPhoto').prop('disabled', false);

            }
        });
    </script>


</body>

</html>