<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<title>Buscar Asegurado</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="row col s12">
            <div class="col s6">
            <form method="POST" id="form_aseg">
                <h3>Buscar Asegurado</h3>
                <blockquote style="background-color: bisque;">
                    <%= typeof loginMessage != 'undefined' ? loginMessage : '' %>
                    <%= typeof message != 'undefined' ? message : '' %>
                </blockquote>
                <div class="input-field col s9">
                    <div class="input-field col s9">
                        <input id="search" name="edtBuscar" type="text" class="validate"
                            value="<%= typeof id != 'undefined' ? id : '' %><%= typeof aux != 'undefined' ? aux : '' %>">
                        <label for="search">Codigo</label>
                    </div>
                    <div class="input-field col s3">
                        <button class="btn waves-effect waves-light" type="submit" name="btnBuscar" id="btnBuscar"
                            >Buscar
                            <i class="material-icons right">search</i>
                        </button>
                    </div>
                    <div class="input-field col s12">
                        <input id="name" name="nombre" type="text" class="validate"
                            value="<%= typeof nombre != 'undefined' ? nombre : '' %>" disabled>
                        <label for="name">Nombres</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="last_name" name="apellidos" type="text" class="validate"
                            value="<%= typeof apellido != 'undefined' ? apellido : '' %>" disabled>
                        <label for="last_name">Apellidos</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="company" name="empresa" type="text" class="validate"
                            value="<%= typeof res.nom_emp != 'undefined' ? res.nom_emp : '' %>" disabled>
                        <label for="company">Empresa</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="join_date" name="empresa" type="text" class="validate"
                            value="<%= typeof res.fec_ing != 'undefined' ? res.fec_ing : '' %>" disabled>
                        <label for="join_date">Fecha de Ingreso</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="num_matricula" name="nro_matricua" type="text" class="validate"
                            value="<%= typeof codigo != 'undefined' ? codigo : '' %>" disabled>
                        <label for="num_matricula">Nro. Matricula</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="birth_date" name="birth_date" type="text" class="validate"
                            value="<%= typeof res.fec_nac != 'undefined' ? res.fec_nac : '' %>" disabled>
                        <label for="birth_date">Fecha de Nacimiento</label>
                    </div>
                </div>
                <div class="col s3">
                        <img style="max-width: 100%;" src="<%= typeof file_ase != 'undefined' ? file_ase : '' %>">
                        <div class="file-field input-field">
                            <% if (nombre !== '') { %>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <input type="file" name="photo_aseg" id="photo_aseg">
                                    <i class="material-icons">file_upload</i>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Seleccionar Foto">
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="btnAgregarFoto"
                                id="btnAgregarFoto"> <% if (file_ase !== '') { %>Actualizar Foto <%} else {%> Agregar
                                Foto <%}%>
                            <i class="material-icons right">add_a_photo</i>
                        </button>
                        <%}%>
                        </div>
                </div>
                
                <div class="input-field col s12">
                    <h5>Registrar Datos</h5>
                    <blockquote id="msgRD" style="background-color: bisque;">
                        <%= typeof msgRD != 'undefined' ? msgRD : '' %>
                    </blockquote>
                </div>
                <div class="input-field col s3">
                    <input id="ci" name="ci" type="text" class="validate"
                        value="<%= typeof res.ci != 'undefined' ? res.ci : '' %>" <% if(res.ci != ''){ %> readonly <% } else {%><%= res.ci %><%}%>>
                    <label for="ci">CI.</label>
                </div> 
                <div class="input-field col s3">
                         <select name="ci_loc" id="ci_loc">
                             <option value="<%= res.ci_loc %>" selected><% if(res.ci_loc != ''){%><%= res.ci_loc %>
                    <% } else {%>Elige un Lugar<%}%></option>
                        <option value="CH" <% if(res.ci_loc != ''){ %> disabled<% }%>>Chuquisaca</option>
                    <option value="LP" <% if(res.ci_loc != ''){ %> disabled<% }%>>La Paz</option>
                    <option value="CB" <% if(res.ci_loc != ''){ %> disabled<% }%>>Cochabamba</option>
                    <option value="OR" <% if(res.ci_loc != ''){ %> disabled<% }%>>Oruro</option>
                    <option value="PT" <% if(res.ci_loc != ''){ %> disabled<% }%>>Potosí</option>
                    <option value="TJ" <% if(res.ci_loc != ''){ %> disabled<% }%>>Tarija</option>
                    <option value="SC" <% if(res.ci_loc != ''){ %> disabled<% }%>>Santa Cruz</option>
                    <option value="BE" <% if(res.ci_loc != ''){ %> disabled<% }%>>Beni</option>
                    <option value="PD" <% if(res.ci_loc != ''){ %> disabled<% }%>>Pando</option>
                    </select>
                    <label>Lugar</label>
                </div>
                <div class="input-field col s3">
                    <select name="select_sangre" id="select_sangre">
                        <option value="<%= res.tipo_sangre %>" selected><% if(res.tipo_sangre != ''){ %><%= res.tipo_sangre %>
                            <% } else {%>Elige un Tipo<%}%></option>
                            <option value="A+" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>A+</option>
                        <option value="A-" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>A-</option>
                        <option value="B+" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>B+</option>
                        <option value="B-" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>B-</option>
                        <option value="AB+" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>AB+</option>
                        <option value="AB-" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>AB-</option>
                        <option value="O+" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>O+</option>
                        <option value="O-" <% if(res.tipo_sangre != ''){ %> disabled<% }%>>O-</option>
                    </select>
                    <label>Tipo de Sangre</label>
                </div>
                
                <div class="input-field col s6">
                    <% if (res.tipo_sangre == '' || res.ci === null || res.ci_loc == '') { %>
                    <button class="btn waves-effect waves-light" type="submit" name="btnRegistrar" id="btnRegistrar"
                        >Registrar
                        <i class="material-icons right">person_add</i>
                    </button>
                    <%}%>
                    </div>
                </form>
            </div>
                <div class="col s6" style="margin-bottom: 10px;">
                        <h3>Historial de Carnet</h3>
                    <% if (nombre !== '' && res.tipo_sangre !== '') { %>
                    <button class="btn waves-effect waves-light" type="button" name="btnImprimir"
                        id="btn_add_card_A">Agregar Carnet
                        <i class="material-icons right">add_box</i>
                    </button>
                    <%}%>
                    <% if (nombre !== '' && res.tipo_sangre !== null && historial.length > 0) { %>
                    <button class="btn waves-effect waves-light" type="button" id="btn_recov_card_A">Recuperar Carnet
                        <i class="material-icons right">autorenew</i>
                    </button>
                    <%}%>
                </div>
                    <div class="col s6" id="historialA" style="height: 750px; overflow-y: scroll;">

                        <% for(var i=0; i<historial.length; i++) {%>
                    <div class="card blue-grey">
                        <div class="card-content white-text">
                            <h5><b>Carnet: </b> <%= historial[i].id_carnet %> (<%= historial[i].estado %>)
                                front:<%= historial[i].front %> back:<%= historial[i].back %>
                            </h5>
                            <form action="/verificarCarnetA" method="POST">
                                <ul>
                                    <input type="text" name="id_imp" value="<%= historial[i].id_imp %>" hidden>
                                    <li><b>Usuario: </b> <input type="text" name="usuario"
                                            value="<%= historial[i].login %>" hidden><%= historial[i].login %>
                                    </li>
                                    <li><b>Fecha Emision: </b> <%= historial[i].fec_emision %></li>
                                    <li><b>Valido hasta: </b> <%= historial[i].fec_fin %></li>
                                    <li style="background-color: #ee6e73;"><b>Comprobante:</b>
                                        <%= historial[i].comprobante %>
                                        <input type="text" name="nro_comprobante"
                                            value="<%= historial[i].comprobante %>" hidden>
                                    </li>
                                    <input type="text" name="codigo" value="<%= historial[i].cod_asegurado %>" hidden>
                                    <li style="background-color: #009688;"><b>Motivo: </b>
                                        <%= historial[i].motivo %></li>
                                    <li><b>Tipo Validez: </b> <%= historial[i].validez %></li>
                                    <% if (historial[i].estado === '0') { %>
                                    <button class="btn waves-effect waves-light" type="submit" name="btnImprimir"
                                        id="btnImprimir">Imprimir
                                        <i class="material-icons right">print</i>
                                    </button>
                                    <% } %>
                                    <% if (historial[i].estado === '1' && historial[i].fec_emision === historial[i].fec_servidor) { %>
                                    <button class="btn waves-effect waves-light" type="submit" name="btnRImprimir"
                                        id="btnRImprimir">ReImprimir
                                        <i class="material-icons right">print</i>
                                    </button>
                                    <% } %>
                                </ul>
                            </form>
                        </div>
                    </div>
                    
                    <% } %>
                </div>
                
        </div>
    </main>
    <script src="../public/js/Asegurados/formAseg.js"></script>
</body>

</html>