<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<title>Buscar Beneficiario</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="row col s12">
            <form method="POST" class="col s6" id="form_bnf">
                <h3>Buscar Beneficiario</h3>
                <blockquote>
                    <%= typeof loginMessage != 'undefined' ? loginMessage : '' %>
                    <%= typeof message != 'undefined' ? message : '' %>
                </blockquote>
                <div class="input-field col s9">
                    <input id="search" name="edtBuscar" type="text" class="validate"
                        value="<%= typeof id != 'undefined' ? id : '' %><%= typeof aux != 'undefined' ? aux : '' %>">
                    <label for="search">Codigo</label>
                </div>
                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" type="submit" name="btnBuscar" id="btnBuscar">Buscar
                        <i class="material-icons right">search</i>
                    </button>
                </div>
                <div class="input-field col s9">
                    <input id="name" name="nombre" type="text" class="validate"
                        value="<%= typeof nombre != 'undefined' ? nombre : '' %>" disabled>
                    <label for="name">Nombres</label>
                </div>
                <div class="col s3">
                    <img style="width: 100%;" src="<%= typeof file_ase != 'undefined' ? file_ase : '' %>">
                </div>
                <div class="input-field col s9">
                    <input id="last_name" name="apellidos" type="text" class="validate"
                        value="<%= typeof apellido != 'undefined' ? apellido : '' %>" disabled>
                    <label for="last_name">Apellidos</label>
                </div>
                <div class="col s3">
                    <div class="file-field input-field">
                        <% if (nombre !== '') { %>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Foto</span>
                                <input type="file" name="photo_bnf" id="photo_bnf">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Seleccionar Foto">
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="btnAgregarFoto"
                            id="btnAgregarFoto"> <% if (file_ase !== '') { %>Actualizar Foto <%} else {%> Agregar Foto <%}%>
                            <i class="material-icons right">add_a_photo</i>
                        </button>
                        <%}%>
                    </div>
                </div>
                <div class="input-field col s12">
                    <input id="company" name="empresa" type="text" class="validate"
                        value="<%= typeof res.nom_emp != 'undefined' ? res.nom_emp : '' %>" disabled>
                    <label for="company">Empresa</label>
                </div>
                <div class="input-field col s12">
                    <input id="num_matricula" name="nro_matricua" type="text" class="validate"
                        value="<%= typeof codigo != 'undefined' ? codigo : '' %>" disabled>
                    <label for="num_matricula">Nro. Matricula</label>
                </div>
                <div class="input-field col s12">
                    <input id="birth_date" name="birth_date" type="text" class="validate"
                        value="<%= typeof res.fec_nac != 'undefined' ? res.fec_nac : '' %>" disabled>
                    <label for="birth_date">Fecha de Nacimiento</label>
                </div>
                <div class="input-field col s12">
                    <h5>Registrar Datos</h5>
                    <blockquote id="msgRD">
                        <%= typeof msgRD != 'undefined' ? msgRD : '' %>
                    </blockquote>
                </div>
                <div class="input-field col s3">
                    <input id="join_date" name="fec_ing" type="text" class="datepicker"
                        value="<%= typeof res.fec_ing != 'undefined' ? res.fec_ing : '' %>"
                        <% if(res.fec_ing !== null){ %>disabled <% } else {%><%= res.fec_ing %><%}%>>
                        <label for="join_date">Fecha de Ingreso</label>
                </div>
                <div class="input-field col s3">
                    <input id="ci" name="ci" type="text" class="validate"
                        value="<%= typeof res.ci != 'undefined' ? res.ci : '' %>" <% if(res.ci !== null){ %>disabled <% } else {%><%= res.ci %><%}%>>
                        <label for="ci">CI.</label>
                </div> 
                <div class="input-field col s3">
                    <select name="ci_loc" id="ci_loc" <% if(res.ci_loc !== null){ %> disabled<% }%>>
                    <option value="" selected><% if(res.ci_loc !== null){%><%= res.ci_loc %>
                        <% } else {%>Elige un Lugar<%}%></option>
                        <option value="CH">Chuquisaca</option>
                        <option value="LP">La Paz</option>
                        <option value="CB">Cochabamba</option>
                        <option value="OR">Oruro</option>
                        <option value="PT">Potosí</option>
                        <option value="TJ">Tarija</option>
                        <option value="SC">Santa Cruz</option>
                        <option value="BE">Beni</option>
                        <option value="PD">Pando</option>
                    </select>
                    <label>Lugar</label>
                </div>
                <div class="input-field col s3">
                    <select name="select_sangre" id="select_sangre">
                        <option value="<%= res.tipo_sangre %>" selected><% if(res.tipo_sangre !== null){ %><%= res.tipo_sangre %>
                            <% } else {%>Elige un Tipo<%}%></option>
                            <option value="A+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>A+</option>
                        <option value="A-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>A-</option>
                        <option value="B+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>B+</option>
                        <option value="B-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>B-</option>
                        <option value="AB+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>AB+</option>
                        <option value="AB-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>AB-</option>
                        <option value="O+" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>O+</option>
                        <option value="O-" <% if(res.tipo_sangre !== null){ %> disabled<% }%>>O-</option>
                    </select>
                    <label>Tipo de Sangre</label>
                </div>
                <div class="input-field col s3">
                    <% if (res.tipo_sangre === null || res.tipo_sangre == '' || res.fec_ing === null || res.fec_ing =='') { %>
                    <button class="btn waves-effect waves-light" type="submit" name="btnRegistrar"
                        id="btnRegistrar">Registrar
                        <i class="material-icons right">person_add</i>
                    </button>
                    <%}%>
                        
                </div>
                </form>
                    <div class="col s6" id="historialB" style="height: 800px; overflow-y: scroll;">
                        <h3>Historial de Carnet</h3>
                        <% if (nombre !== '' && res.tipo_sangre !== null) { %>
                    <button class="btn waves-effect waves-light" type="button" name="btnImprimir"
                        id="btn_add_card_B">Agregar Carnet
                        <i class="material-icons right">add_box</i>
                    </button>
                    <%}%>
                        <% for(var i=0; i<historial.length; i++) {%>
                    <div class="card blue-grey">
                        <div class="card-content white-text">
                            <h5><b>Carnet: </b> <%= historial[i].id_carnet %> (<%= historial[i].estado %>)
                                front:<%= historial[i].front %> back:<%= historial[i].back %>
                            </h5>
                            <form action="/verificarCarnetB" method="POST">
                                <ul>
                                    <input type="text" name="id_carnet" value="<%= historial[i].id_carnet %>" hidden>
                                    <li><b>Usuario: </b> <input type="text" name="usuario"
                                            value="<%= historial[i].login %>" hidden><%= historial[i].login %>
                                    </li>
                                    <li><b>Fecha: </b> <%= historial[i].created_at %></li>
                                    <li style="background-color: #ee6e73;"><b>Comprobante:</b>
                                        <%= historial[i].comprobante %>
                                        <input type="text" name="nro_comprobante"
                                            value="<%= historial[i].comprobante %>" hidden>
                                    </li>
                                    <li><b>Fecha Comprobante: </b> <%= historial[i].fec_comp %></li>
                                    <input type="text" name="codigo" value="<%= historial[i].cod_bnf %>" hidden>
                                    <li class="card teal"><b>Motivo: </b> <%= historial[i].motivo %></li>
                                    <% if (historial[i].estado === 0) { %>
                                    <button class="btn waves-effect waves-light" type="submit" name="btnImprimir"
                                        id="btnImprimir">Imprimir
                                        <i class="material-icons right">print</i>
                                    </button>
                                    <% } %>
                                    <% if (historial[i].estado === 1 && historial[i].created_at === historial[i].fec_servidor) { %>
                                    <button class="btn waves-effect waves-light" type="submit" name="btnRImprimir"
                                        id="btnRImprimir">ReImprimir
                                        <i class="material-icons right">print</i>
                                    </button>
                                    <% } %>
                                    <% if (historial[i].comprobante === null) { %>
                                    <div class="input-field">
                                        <input
                                            id="<%= typeof historial[i].id_carnet != 'undefined' ? historial[i].id_carnet : '' %>"
                                            name="comprobante" type="text" class="validate" value="">
                                        <label
                                            for="<%= typeof historial[i].id_carnet != 'undefined' ? historial[i].id_carnet : '' %>">Nro.
                                            Comprobante</label>
                                        <button class="btn waves-effect waves-light" type="submit" name="btnComprobar"
                                            id="btnComprobar">Comprobar
                                            <i class="material-icons right">search</i>
                                        </button>
                                    </div>
                                </ul>
                                <% } %>
                            </form>
                        </div>
                    </div>
                    <% } %>
                </div>
        </div>
    </main>
    <script src="../public/js/Beneficiarios/formBnf.js"></script>
</body>
</html>