<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<title>Buscar Beneficiario</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="row col s12">
            <form method="POST" class="col s6" id="form1" action="buscarBeneficiario">
                <h3>Buscar Beneficiario</h3>
                <blockquote>
                    <%= typeof loginMessage != 'undefined' ? loginMessage : '' %>
                    <%= typeof message != 'undefined' ? message : '' %>
                </blockquote>
                <div class="input-field col s9">
                    <input id="search" name="edtBuscar" type="text" class="validate"
                        value="<%= typeof id != 'undefined' ? id : '' %><%= typeof aux != 'undefined' ? aux : '' %>">
                    <label for="search">Codigo</label>
                </div>
                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" type="submit" name="btnBuscar" id="btnBuscar">Buscar
                        <i class="material-icons right">search</i>
                    </button>
                </div>
                <div class="input-field col s9">
                    <input id="name" name="nombre" type="text" class="validate"
                        value="<%= typeof nombre != 'undefined' ? nombre : '' %>" disabled>
                    <label for="name">Nombres</label>
                </div>
                <div class="col s3">
                    <img style="height: 140px; position: absolute;"
                        src="<%= typeof file_ase != 'undefined' ? file_ase : '' %>">
                    <div class="file-field input-field">
                        <% if (file_ase === '' && nombre !== '') { %>
                        <div class="file-field input-field">
                            <div>
                                <input type="file" name="myPhoto" id="myPhoto" disabled>
                            </div>
                            <div class="input-field">
                                <input class="file-path validate" type="text" disabled>
                                <label for="myPhoto">Seleccione una Foto</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="btnAgregarFoto"
                            id="btnAgregarFoto" disabled>Agregar
                            Foto
                            <i class="material-icons right">add_a_photo</i>
                        </button>
                        <%}%>
                        </div>
                </div>
                <div class="input-field col s9">
                    <input id="last_name" name="apellidos" type="text" class="validate"
                        value="<%= typeof apellido != 'undefined' ? apellido : '' %>" disabled>
                        <label for="last_name">Apellidos</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="company" name="empresa" type="text" class="validate"
                            value="<%= typeof res.nom_emp != 'undefined' ? res.nom_emp : '' %>" disabled>
                        <label for="company">Empresa</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="num_matricula" name="nro_matricua" type="text" class="validate"
                            value="<%= typeof codigo != 'undefined' ? codigo : '' %>" disabled>
                        <label for="num_matricula">Nro. Matricula</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="birth_date" name="birth_date" type="text" class="validate"
                            value="<%= typeof res.fec_nac != 'undefined' ? res.fec_nac : '' %>" disabled>
                        <label for="birth_date">Fecha de Nacimiento</label>
                    </div>
                    <div class="input-field col s12">
                        <h5>Registrar Datos</h5>
                        <blockquote id="msgRD">
                            <%= typeof msgRD != 'undefined' ? msgRD : '' %>
                        </blockquote>
                    </div>
                    <div class="input-field col s12">
                        <input id="join_date" name="empresa" type="text" class="datepicker"
                            value="<%= typeof res.fec_ing != 'undefined' ? res.fec_ing : '' %>"
                            <% if(res.fec_ing !== null){ %> disabled <% } else {%><%= res.fec_ing %><%}%>>
                        <label for="join_date">Fecha de Ingreso</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="ci" name="ci" type="text" class="validate"
                            value="<%= typeof res.ci != 'undefined' ? res.ci : '' %>" <% if(res.ci !== null){ %>
                            disabled <% } else {%><%= res.ci %><%}%>>
                        <label for="ci">CI.</label>
                     </div> 
                     <div class="input-field col s3">
                    <select name="ci_loc" id="ci_loc" <% if(res.ci_loc !== null){ %> disabled <% }%>>
                        <option value="" disabled selected> <% if(res.ci_loc !== null){ %>
                            <%= res.ci_loc %><% } else {%>Elige un Lugar<%}%></option>
                        <option value="CH">Chuquisaca</option>
                        <option value="LP">La Paz</option>
                        <option value="CB">Cochabamba</option>
                        <option value="OR">Oruro</option>
                        <option value="PT">Potosí</option>
                        <option value="TJ">Tarija</option>
                        <option value="SC">Santa Cruz</option>
                        <option value="BE">Beni</option>
                        <option value="PD">Pando</option>
                    </select>
                    <label>Lugar</label>
                </div>
                <div class="input-field col s6">
                    <select name="select_sangre" id="select_sangre" <% if(res.tipo_sangre !== null){ %> disabled <% }%>
                            >
                        <option value="" disabled selected><% if(res.tipo_sangre !== null){ %>
                            <%= res.tipo_sangre %><% } else {%>Elige un Tipo<%}%></option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                        <label>Tipo de Sangre</label>
                    </div>
                    <div class="input-field col s6">
                        <% if (res.tipo_sangre === null || res.tipo_sangre == '') { %>
                            <button class="btn waves-effect waves-light" type="button" name="btnRegistrar"
                                id="btnRegistrar">Registrar
                                <i class="material-icons right">person_add</i>
                            </button>
                            <%}%>
                        <% if (nombre !== '' && res.tipo_sangre !== null) { %>
                            <button class="btn waves-effect waves-light" type="button" name="btnImprimir"
                                id="btn1">Solicitar Carnet
                                <i class="material-icons right">person_add</i>
                            </button>
                            <%}%>
                    </div>
                </form>
                <div class="col s6" id="test" style="height: 800px; overflow-y: scroll;">
                        <h3>Historial de Carnet</h3>
                        
                        <% for(var i=0; i<historial.length; i++) {%>
                            <div class="card blue-grey">
                                <div class="card-content white-text">
                                    <h5>Carnet: <%= historial[i].id_carnet %></h5>
                                    <form action="/verificarCarnetB" method="POST">
                                        <ul>
                                            <input type="text" name="id_carnet" value="<%= historial[i].id_carnet %>"
                                                hidden>
                                            <li>Usuario: <input type="text" name="usuario"
                                                    value="<%= historial[i].login %>" hidden><%= historial[i].login %>
                                            </li>
                                            <li>Fecha: <%= historial[i].created_at %></li>
                                            <li>Comprobante: <input type="text" name="nro_comprobante"
                                                    value="<%= historial[i].comprobante %>"
                                                    hidden><%= historial[i].comprobante %>
                                            </li>
                                            <input type="text" name="codigo" value="<%= historial[i].cod_bnf %>" hidden>
                                            <li class="card teal">Motivo: <%= historial[i].motivo %></li>
                                            <% if (historial[i].estado === 1) { %>
                                            <button class="btn waves-effect waves-light" type="submit"
                                                name="btnImprimir" id="btnImprimir">Imprimir
                                                <i class="material-icons right">print</i>
                                            </button>
                                            <% } %>
                                            <% if (historial[i].comprobante === null) { %>
                                            <div class="input-field">
                                                <input
                                                    id="<%= typeof historial[i].id_carnet != 'undefined' ? historial[i].id_carnet : '' %>"
                                                    name="comprobante" type="text" class="validate" value="">
                                                <label
                                                    for="<%= typeof historial[i].id_carnet != 'undefined' ? historial[i].id_carnet : '' %>">Nro.
                                                    Comprobante</label>
                                                <button class="btn waves-effect waves-light" type="submit"
                                                    name="btnComprobar" id="btnComprobar">Comprobar
                                                    <i class="material-icons right">search</i>
                                                </button>
                                            </div>
                                        </ul>
                                        <% } %>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
    </main>
    <script type="module">
        import tinyPrint from '../public/tiny-print/src/index.js'
        
const codigo = document.getElementById('search').value;

    $( "#btn1" ).click(function() {
    // tinyPrint(element, {
    // scanStyles: false, 
    // scanHTML: false, 
    // importStyles: ["https://fonts.googleapis.com/icon?family=Material+Icons","https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"],
    // cssStyle: '', 
    // hidePageRule: true
    // });
    $( "#test" ).append(`<div class="card blue-grey">
        <div class="card-content white-text">
            <h5>Nuevo Carnet</h5>
            <form action="/comprobarPago" method="POST">
                <ul>
                    <li>Usuario: <%= user.email %></li>
                    <li>Codigo: ${codigo}</li>
                    <input name="codigo" type="text" class="validate" value="${codigo}" hidden>
                    <input name="id_carnet" type="text" class="validate" value="2" hidden>
                    <input name="comprobante" type="text" class="validate" value="" placeholder="Comprobante" required>
                    <input name="motivo" type="text" class="validate" value="" placeholder="Motivo" required>
                    <button class="btn waves-effect waves-light" type="submit" name="btnComprobar"
                        id="btnComprobar">Comprobar
                        <i class="material-icons right">search</i>
                    </button>
                </ul>
            </form>
        </div>
    </div>`);
});
//REGISTRAR DATOS

$("#btnRegistrar").click(()=>{
    const fec_ing = document.getElementById('join_date').value;
    const ci = document.getElementById('ci').value;
    const ci_loc = document.getElementById('ci_loc').value;
    const sangre = document.getElementById('select_sangre').value;
    // console.log(fec_ing,ci,ci_loc,sangre);

    if (fec_ing === '' || ci === '' || ci_loc === '' || sangre === '') {
        console.log('NO');

        $('#msgRD').append(`test`)
    }else{
        console.log('SI');
    }
})

// $('#btnAgregarFoto').click(()=>{
//    $('#form1').attr('enctype', 'multipart/form-data');
//     if ($('#tipo_asegurado').val() == '1') {
//         $('#form1').attr('action', '/agregarFotoAsegurado');
//     }
//     if ($('#tipo_asegurado').val() == '2') {
//         $('#form1').attr('action', '/agregarFotoBeneficiario');
//     }
// })
// $('#myPhoto').click(()=>{
//    $('#form1').attr('enctype', 'multipart/form-data');
//    $('#form1').attr('action', '/agregarFotoAsegurado');

// })
// $('#btnBuscar').click(()=>{
//    $('#form1').attr('enctype', '');
//    if ($('#tipo_asegurado').val() == '1') {
//    $('#btnBuscar').prop('disabled', false);
//    $('#btnRegistrar').prop('disabled', false);
//    $('#btnAgregarFoto').prop('disabled', false);
//    $('#myPhoto').prop('disabled', false);
//    $('#form1').attr('action', '/buscarAsegurado');
//    $('#form_foto').attr('action', '/buscarAsegurado');
//    }if($('#tipo_asegurado').val() == '2'){
//    $('#form1').attr('action', '/buscarBeneficiario');
//    $('#form_foto').attr('action', '/buscarBeneficiario');
//    $('#btnBuscar').prop('disabled', false);
//    $('#btnRegistrar').prop('disabled', false);
//    $('#btnAgregarFoto').prop('disabled', false);
//    $('#myPhoto').prop('disabled', false);

//    }
// })

// $("#tipo_asegurado").change(function () {
//            if ($('#tipo_asegurado').val() == '1') {
//                 $('#btnBuscar').prop('disabled', false); 
//                 $('#btnRegistrar').prop('disabled', false); 
//                 $('#btnAgregarFoto').prop('disabled', false);
//                 $('#myPhoto').prop('disabled', false);
//                $('#form1').attr('action', '/buscarAsegurado');
//                $('#form_foto').attr('action', '/buscarAsegurado');
//             }if($('#tipo_asegurado').val() == '2'){
//                 $('#form1').attr('action', '/buscarBeneficiario');
//                 $('#form_foto').attr('action', '/buscarBeneficiario');
//                 $('#btnBuscar').prop('disabled', false); 
//                 $('#btnRegistrar').prop('disabled', false); 
//                 $('#btnAgregarFoto').prop('disabled', false); 
//                 $('#myPhoto').prop('disabled', false);

//            }
//         });

// window.addEventListener("load", event => {
//     var x = document.getElementById("imgtest").complete;
//     var y = document.getElementById("imgtest").naturalHeight;
//     if (y === 0) {
//         console.log(x,y);
//     }
// });

</script>


</body>

</html>