<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

    <link rel="stylesheet" href="../public/css/card.css">
    <link rel="icon" href="../photos/icon.png">


</head>

<body>

    <div id="carnet_full">
        <div class="card" id="carnet_front">
            <div class="card-body frente" style="padding: 15px; height: 276px;">
                <div class="foto">
                    <%=res.validez%>
                    <figure>
                    <img id="foto_perfil" style="margin-top: 5px; 
                    <% if (res.validez === 'MENOR') { %> 
                    border: 16px solid red; <%} 
                    if (res.validez === 'MODULAR' || res.validez === 'TRIMESTRAL' || res.validez ==='SEMESTRAL' || res.validez ==='ANUAL') {%> 
                    border: 16px solid yellow; <%} 
                    if (res.validez === 'ITEM' || res.validez ==='CONTRATO' || res.validez ==='JUBILADO') {%>
                    border: 16px solid blue; <%}%>"
                            src="<%= typeof file_carnet != 'undefined' ? file_carnet : '' %>">

                    </figure>
                    <p style="margin-bottom: 0px;"><b>Nº</b> <%= res.id_carnet %></p>
                    <img id="foto_firma" style="height: 40px; width: 120px; border-bottom: 1px solid;" src="../photos/Firmas/<%= firmas[0].ruta %>">
                    <p style="margin-bottom: -50px;"><b>Jefe de afiliacion</b></p>
                </div>
                <!-- <img id="foto_firma" style="width: 120px;
    position: absolute;
    bottom: 25px;
    height: 40px;"> -->
                <div class="info">
                    <div style="height: 100%;">
                    <img src="../photos/icon.png" style="display: block;
                                                        margin-left: auto;
                                                        margin-right: auto;
                                                        height: 100%;
                                                        opacity: 0.5;">
                    </div>
                    <div style="position: absolute;">
                        <figure>
                            <img src="../photos/logo.png">
                        </figure>
                        <p><b>
                                    <center style="color: darkgreen; font-size: 16px;">
                                        ENTE GESTOR DE LA SEGURIDAD SOCIAL
                                    </center>
                                </b></p>
                        <div style="display: flex;">
                            <b>Nombres:</b>
                            <p id="edit_name"> <%= nombre %></p>
                        </div>
                        <div style="display: flex;">
                            <b>Apellidos: </b>
                            <p id="edit_lastN"> <%= apellido %></p>
                        </div>
                        <% if (res.validez === 'MODULAR' || res.validez === 'TRIMESTRAL' || res.validez ==='SEMESTRAL' || res.validez ==='ANUAL' ||res.validez === 'MENOR') {%>
                            <p><b>Titular:</b> <%= titular %></p>
                        <%}%>
                        <p><b>Empresa:</b> <%= res.nom_emp %></p>
                        <p><b>Fecha de ingreso:</b> <%= res.fec_ing %></p>
                        <p><b>Nº Matricula:</b> <%= res.cod_asegurado %><%= res.cod_bnf %>
                        </p>
                        <p><b>Fecha de nacimiento: </b><%= res.fec_nac %></p>
                        <p><b>Tipo de Sangre:</b> <%= res.tipo_sangre %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="carnet_back">
            <div class="card-body atras" style="padding: 15px; height: 276px;">
                <h3>SEGURO INTEGRAL DE SALUD</h3>
                <h6><i>CREADO MEDIANTE D.S 26474 DEL 29 DE ENERO DE 1999</i></h6>
                <div style="width: 290px; margin-left: 16px;" id="edit">
                    <p>CONSULTORIO CALLE ESPAÑA Nº 473 TELF: 3364160 - 3371167</p>
                    <p>OF. ADMINISTRATIVAS C/24 DE SEP. Nº 266 EDIF. ITAU TELF. 3323173 - 3326572</p>
                    <p>CLINICA Y LABORATORIO AV. 2 DE AGOSTO Nº 6135 PASANDO EL 6TO ANILLO</p>
                    <p>CLINICA TELF. 3452050 - 3427151 LABORATORIO TELF. 3442723</p>
                </div>
                <div style="right: 0px; position: absolute; top: 80px;">
                    <img src="<%= typeof qr != 'undefined' ? qr : '' %>" class="responsive-img">
                </div>
                <div class="fecha">
                    <!-- <p><b>Valido Desde:</b> <%#= res %></p> -->
                    <p><b>Valido Desde:</b> <%= res.fec_emision %></p>
                    <input type="hidden" value="<%= res.created_at %>" id="fec_desde">

                </div>
                <div class="fecha-hasta">
                    <!-- <p><b>Hasta:</b> <%#= res %></p> -->
                    <p id="fec_hasta"><b>Hasta:</b> <%= res.fec_fin %> </p>

                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 20px;">
        <% if (imp.front == 0 || imp.estado == 1) { %>
        <button class="btn btn-outline-secondary" type="button" name="btnImprimirFront" id="btn_front">Imprimir
            Frente
        </button>
        <% } %>
        <br>
        <br>
        <br>
        <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Firmas</label>
            </div>
            <select class="custom-select" id="list_firmas">
                <option selected disabled>Seleccione</option>
                <% for(var i=0; i<firmas.length; i++) {%>
                <option value="<%= firmas[i].ruta %>"><%= firmas[i].nombre %></option>
                <% } %>
            </select>
        </div> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <% if (imp.back == 0 || imp.estado == 1) { %>
        <button class="btn btn-outline-secondary" type="button" name="btnImprimirBack" id="btn_back">Imprimir Atras
        </button>
        <% } %>
    </div>

    <form action="/actualizarImp" method="POST" style="display: none;" id="form_carnet">
        <input type="hidden" name="cara" value="" id="cara_carnet">
        <input type="hidden" name="cod_ase" value="<%= res.cod_asegurado %>">
        <input type="hidden" name="cod_bnf" value="<%= res.cod_bnf %>">
        <input type="hidden" name="cod_carnet" value="<%= res.id_imp %>">
        <!-- <input type="hidden" name="cara" value="" id="cara_carnet">
        <input type="hidden" name="cara" value="" id="cara_carnet"> -->
    </form>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="../public/print.min.js"></script>

</body>

<script type="module">
    import tinyPrint from '../public/tiny-print/src/index.js'

    const cardFront = document.getElementById('carnet_front');
    const cardBack = document.getElementById('carnet_back');
    
    $("#btn_front").click(function () {
        let focuser = setInterval(() => window.dispatchEvent(new Event('focus')), 500);

        alertify.confirm("Esta seguro de imprimir? Solo tiene 1 intento.",
        function(){
        alertify.success('Ok');
        printJS({ printable: 'carnet_front', type: 'html', css: ["../public/css/card.css","https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"],
                    style: '.card {margin-top: 60px; margin-left: -520px; border: none;} @page { size: Letter landscape; margin: 0px}',
                scanStyles: false, onPrintDialogClose: () => {
                clearInterval(focuser);

                document.getElementById('cara_carnet').value = "front";
                document.getElementById("form_carnet").submit();

                },
                onError: () => {
                clearInterval(focuser);
                }})
        },
        function(){
        alertify.error('Cancel');
        });
    });
    $("#btn_back").click(function () {
        let focuser = setInterval(() => window.dispatchEvent(new Event('focus')), 500);

        alertify.confirm("Esta seguro de imprimir? Solo tiene 1 intento.",
        function(){
        alertify.success('Ok');
        printJS({ printable: 'carnet_back', type: 'html', css: ["../public/css/card.css","https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"],
                    style: '.card {margin-top: 60px; margin-left: -520px; border: none;} @page { size: Letter landscape; }',
                scanStyles: false, onPrintDialogClose: () => {
                clearInterval(focuser);
                // do your thing..
                document.getElementById('cara_carnet').value = "back";
                document.getElementById("form_carnet").submit();
                },
                onError: () => {
                clearInterval(focuser);
                // do your thing..
                }})
        },
        function(){
        alertify.error('Cancel');
        });
    });
    
    document.getElementById('edit').contentEditable = true;
    document.getElementById('edit_name').contentEditable = true;
    document.getElementById('edit_lastN').contentEditable = true;

    $("#list_firmas").change(function () {
        $('#foto_firma').attr('src', `../photos/Firmas/${$('#list_firmas').val()}`);
    });
</script>

</html>