<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

    <link rel="stylesheet" href="../public/css/card.css">

</head>

<body >

    <div id="carnet_full">
        <div class="card" id="carnet_front" >
            <div class="card-body frente" style="padding: 15px;">
                <div class="foto">
                    <figure>
                        <img style="margin-top: 5px;" src="<%= typeof file_carnet != 'undefined' ? file_carnet : '' %>">

                    </figure>
                    <p style="margin-bottom: 0px;"><b>Nro.</b><%= res.id_carnet %></p>
                    <img id="foto_firma" style="height: 40px; width: 120px; border-bottom: 1px solid;">
                    <p style="margin-bottom: -50px;"><b>Jefe de afiliacion</b></p>
                </div>
                <!-- <img id="foto_firma" style="width: 120px;
    position: absolute;
    bottom: 25px;
    height: 40px;"> -->
                <div class="info">
                    <figure>
                        <img src="../photos/Usuarios/sinec.PNG">
                    </figure>
                    <p><i><b>
                                <center>ENTE GESTOR DE LA SEGURIDAD SOCIAL</center>
                            </b></i></p>
                    <p><b>Nombres:</b> <%= nombre %></p>
                    <p><b>Apellidos:</b> <%= apellido %></p>
                    <p><b>Empresa:</b> <%= res.nom_emp %></p>
                    <p><b>Fecha de ingreso:</b> <%= res.fec_ing %></p>
                    <p><b>Nro. Matricula:</b><%= res.cod_asegurado %><%= res.cod_bnf %>
                    </p>
                    <p><b>Fecha de nacimiento: </b><%= res.fec_nac %></p>
                    <p><b>Tipo de Sangre:</b> <%= res.tipo_sangre %></p>
                    <p><b>Validez:</b> 1 Año</p>

                </div>
            </div>
        </div>
        <div class="card" id="carnet_back">
            <div class="card-body atras">
                <h3>SEGURO INTEGRAL DE SALUD</h3>
                <h6><i>CREADO MEDIANTE D.S 26474 DEL 29 DE ENERO DE 1999</i></h6>
                <div style="width: 290px;" id="edit">
                    <p>CONSULTORIO CALLE ESPAÑA Nº 473 TELF: 3364160 - 3371167</p>
                    <p>OF. ADMINISTRATIVAS C/24 DE SEP. Nº 266 EDIF. ITAU TELF. 3323173 - 3326572</p>
                    <p>CLINICA Y LABORATORIO AV. 2 DE AGOSTO Nº 6135 PASANDO EL 6TO ANILLO</p>
                    <p>CLINICA TELF. 3452050 - 3427151 LABORATORIO TELF. 3442723</p>
                </div>
                <div style="right: 0px; position: absolute; top: 80px;">
                    <img src="<%= typeof qr != 'undefined' ? qr : '' %>" class="responsive-img">
                </div>
                <div class="fecha">
                    <!-- <p><b>Valido Desde:</b> <%#= res %></p> -->
                    <p><b>Valido Desde:</b> 19/10/2020</p>

                </div>
                <div class="fecha-hasta">
                    <!-- <p><b>Hasta:</b> <%#= res %></p> -->
                    <p><b>Hasta:</b> 19/10/2021</p>

                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-secondary" type="button" name="btnImprimirFront" id="btn_front">Imprimir Frente
        </button>
        <br>
        <br>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Firmas</label>
            </div>
            <select class="custom-select" id="list_firmas">
                <option selected disabled>Seleccione</option>
                <% for(var i=0; i<firmas.length; i++) {%>
                <option value="<%= firmas[i].ruta %>"><%= firmas[i].nombre %></option>
                <% } %>
            </select>
        </div>
        <br>
        <br>
        <button class="btn btn-outline-secondary" type="button" name="btnImprimirBack" id="btn_back">Imprimir Atras
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

</body>

<script type="module">
    import tinyPrint from '../public/tiny-print/src/index.js'

    const cardFront = document.getElementById('carnet_front');
    const cardBack = document.getElementById('carnet_back');

    $("#btn_front").click(function () {
        alertify.confirm("Esta seguro de imprimir? Solo tiene 1 intento.",
        function(){
        alertify.success('Ok');
        tinyPrint(cardFront, {
            scanStyles: false,
            scanHTML: false,
            importStyles:
            ["../public/css/card.css","https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"],
            cssStyle: '.card {margin-top: 55px; margin-left: -520px; border: none;}',
            hidePageRule: true
        });
        },
        function(){
        alertify.error('Cancel');
        });
    });
    $("#btn_back").click(function () {
        alertify.confirm("Esta seguro de imprimir? Solo tiene 1 intento.",
        function(){
        alertify.success('Ok');
        tinyPrint(cardBack, {
            scanStyles: false,
            scanHTML: false,
            importStyles:
            ["../public/css/card.css","https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"],
            cssStyle: '.card {margin-top: 40px; margin-left: -520px; border: none;} .img{border: red;}',
            hidePageRule: true
        });
        },
        function(){
        alertify.error('Cancel');
        });
    });

    document.getElementById('edit').contentEditable = true;
    $("#list_firmas").change(function () {
        $('#foto_firma').attr('src', `../photos/Firmas/${$('#list_firmas').val()}`);
    });
</script>

</html>