<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<link rel="stylesheet" href="../public/css/cuentas.css">
<title>Crear Firma</title>

<%- include home.ejs %>
<body>
    <main>
        <div class="container">
            <div class="row">
                <h1>Crear Firma</h1>
                <blockquote style="background-color: bisque;">
                    <%= typeof msg != 'undefined' ? msg : '' %>
                    <%= typeof aux != 'undefined' ? aux : '' %>
                </blockquote>
                <div class="input-field col s12">
                    <form action="/crear_firma" method="POST" id="form1" enctype="multipart/form-data">
                        <input type="text" name="nombre_firma" placeholder="Firma" required class="input-field">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Imagen</span>
                                <input type="file" name="myFirma">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <br>
                        <div class="center">
                            <input type="submit" value="Registrar" class="btn">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">
                        <form method="POST" action="/listaFirmas">
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOMBRE</th>
                                        <th>FECHA</th>
                                        <th>IMAGEN</th>
                                        <th>ESTADO</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% for(var i=0; i<firmas.length; i++) {%>
                                    <tr>
                                        <td><%= firmas[i].id_firma %></td>
                                        <td><%= firmas[i].nombre %></td>
                                        <td><%= firmas[i].created_at %></td>
                                        <td><img class="materialboxed"
                                            src="<%= typeof firmas[i].photo != 'undefined' ? firmas[i].photo : '' %>">
                                        </td>
                                        <td>
                                            <button class="btn" name="id_firma" type="submit"
                                                value="<%= firmas[i].id_firma %>" <% if(firmas[i].estado == '1'){ %>
                                                    style="background-color: green;"<% } else {%>
                                                    style="background-color: darkred;"<%}%>>
                                                <% if(firmas[i].estado == '1'){ %>Activo
                                                <% } else {%>Inactivo<%}%>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>