<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<link rel="stylesheet" href="../public/css/cuentas.css">
<title>Crear Usuario</title>

<%- include home.ejs %>
<body>
    <main>
        <div class="container">
            <div class="row">
                <h1>Crear Usuario</h1>
                <blockquote>
                    <%= typeof msg != 'undefined' ? msg : '' %>
                    <%= typeof aux != 'undefined' ? aux : '' %>
                </blockquote>
                <div class="input-field col s12">
                    <form action="/signup" method="POST" id="form1">
                        <input type="text" name="login" placeholder="Usuario" required class="input-field">
                        <input type="password" name="password" placeholder="Contraseña" required class="input-field">
                        <br>
                        <!-- <div class="file-field input-field">
                            <div class="btn">
                                <span>Foto</span>
                                <input type="file" name="myPhoto">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div> -->
                        <div class="center">
                            <input type="submit" value="Registrar" class="btn">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">
                        <form method="POST" action="/listaCuentas" id="form_cuentas">
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>USUARIO</th>
                                        <th>TIPO</th>
                                        <th>CREADO</th>
                                        <th>FOTO</th>
                                        <th>ESTADO</th>
                                        <th>ACTUALIZAR CONTRASEÑA</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% for(var i=0; i<cuentas.length; i++) {%>
                                    <tr>
                                        <td><%= cuentas[i].id %></td>
                                        <td><%= cuentas[i].login %></td>
                                        <td><%= cuentas[i].tipo %></td>
                                        <td><%= cuentas[i].created_at %></td>
                                        <td><img class="materialboxed"
                                                src="<%= typeof cuentas[i].photo != 'undefined' ? cuentas[i].photo : '' %>">
                                        </td>
                                        <!-- <td><button class="btn" name="id_cuenta" type="submit"
                                                value="<%= cuentas[i].id %>">ACCION</button></td> -->
                                        <td>
                                            <button class="btn" name="btnEstado" type="submit"
                                                value="<%= cuentas[i].id %>" <% if(cuentas[i].estado == '1'){ %>
                                                    style="background-color: green;"<% } else {%>
                                                    style="background-color: darkred;"<%}%>>
                                                <% if(cuentas[i].estado == '1'){ %>Activo
                                                <% } else {%>Inactivo<%}%>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn" name="btnContra" type="submit"
                                                value="<%= cuentas[i].id %>" <% if(cuentas[i].estado == '2'){ %>
                                                    style="background-color: green;"<% } else {%>
                                                    style="background-color: darkred;"<%}%>>
                                                <% if(cuentas[i].estado == '2'){ %>Activo
                                                <% } else {%>Inhabilitado<%}%>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>



</body>

</html>