<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<link rel="stylesheet" href="../public/css/cuentas.css">
<title>Home</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="container">
            <div class="row center">
                <h1>Crear Usuario</h1>
                <%= typeof msg != 'undefined' ? msg : '' %>
                <%= typeof cuentas[0] != 'undefined' ? cuentas[0] : '' %>
                <div class="input-field col s12">
                    <form action="/signup" method="POST" id="form1" enctype="multipart/form-data">
                        <input type="email" name="email" placeholder="Email" required class="input-field">
                        <input type="password" name="password" placeholder="Password" required class="input-field">
                        <br>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Photo</span>
                                <input type="file" name="myPhoto">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <input type="submit" value="Register" class="btn">
                    </form>
                </div>
                <div class="row">
                    <div class="col s12">
                        <form method="POST" action="/test">
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>LOGIN</th>
                                        <th>TIPO</th>
                                        <th>CREATED_AT</th>
                                        <th>MODIFIED_AT</th>
                                        <th>PHOTO</th>
                                        <th>RESET</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% for(var i=0; i<cuentas.length; i++) {%>
                                    <tr>
                                        <td><%= cuentas[i].id %></td>
                                        <td><%= cuentas[i].login %></td>
                                        <td><%= cuentas[i].tipo %></td>
                                        <td><%= cuentas[i].created_at %></td>
                                        <td><%= cuentas[i].modified_at %></td>
                                        <td><img class="materialboxed"
                                                src="<%= typeof cuentas[i].photo != 'undefined' ? cuentas[i].photo : '' %>">
                                        </td>
                                        <td><button class="btn" name="id_cuenta" type="submit"
                                                value="<%= cuentas[i].id %>">TEST</button></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>



</body>

</html>