<!DOCTYPE html>
<html lang="en">

<% include resources.ejs %>
<script src="../public/sidenav.js"></script>
<title>Home</title>

<body>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background" style="background-color: darksalmon;">
                    <!-- <img src="<%= typeof file != 'undefined' ? file : '' %>"> -->
                </div>
                <div class="row">
                    <div class="col s6">
                        <a href="#"><img class="circle" src="<%= typeof file != 'undefined' ? file : '' %>"></a>
                    </div>
                    <div class="col s6">
                        <button onclick="location.href = '/logout'" class="btn">Log Out</button>
                    </div>
                </div>
                <a href="#"><span class="white-text name">Id: <%= user.tipo%> <% if (user.tipo === '1') { %>
                        (Administrador)
                        <%}%></span></a>
                    <a href="#"><span class="white-text name">Email: <%= user.email%></span></a>
                <a href="#"><span class="white-text name">Tipo: <%= user.tipo%></span></a><br>
            </div>
        </li>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Perfil</div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/home/2"><i class="material-icons">person</i>Ver Perfil</a></li>

                    </ul>
                </div>
            </li>
            <% if (user.tipo === '1') { %>
            <li>
                <div class="collapsible-header"><i class="material-icons">people</i>Usuarios</div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/home/3"><i class="material-icons">person_add</i>Crear Usuario</a></li>

                    </ul>
                </div>
            </li>
            <%}%>
            <li>
                <div class="collapsible-header"><i class="material-icons">people</i>Asegurados</div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/home/1"><i class="material-icons">people</i>Buscar Asegurado</a></li>
                        <li><a href="#"><i class="material-icons">mail</i>Menu4</a></li>
                        <li><a href="#"><i class="material-icons">laptop</i>Menu5</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <li>
            <div class="divider"></div>
        </li>
        
    </ul>
    <button href="#" data-target="slide-out" class="sidenav-trigger show-on-large waves-effect waves-light btn"><i
            class="material-icons">menu</i></button>

            <div>
                <% if(menu == 1 && user.tipo == '1') {%>
            <% include buscarAsegurado.ejs %>
            <%} if(menu == 2) {%>
            <% include profile.ejs %>
            <%} if(menu == 3) {%>
            <% include signup.ejs %>
            <%}%>
            </div>

</body>

</html>