<%- include resources.ejs %>
<script src="../public/sidenav.js"></script>
<!-- <link rel="stylesheet" href="../public/css/sidenav.css"> -->
<title>Home</title>

<header>
    <nav class="top-nav">
        <!-- <button href="#" data-target="slide-out"
                class="sidenav-trigger show-on-large waves-effect waves-light btn"><i
                    class="material-icons">menu</i></button> -->
        <div><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                    class="material-icons">menu</i></a></div>
        <div>
            SINEC
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background" style="background-color: darkslategrey;">
                    <!-- <img src="<%= typeof file != 'undefined' ? file : '' %>"> -->
                </div>
                <div class="row">
                    <div class="col s6">
                        <a href="#"><img class="circle" src="<%= typeof file != 'undefined' ? file : '' %>"></a>
                    </div>
                    <div class="col s6">
                        <a href="/logout" class="btn">Log Out</a>
                    </div>
                </div>
                <a href="#"><span class="white-text name">Id: <%= user.tipo%> <% if (user.tipo === '1') { %>
                        (Administrador)
                        <%}%></span></a>
                    <a href="#"><span class="white-text name">Email: <%= user.email%></span></a>
                <a href="#"><span class="white-text name">Tipo: <%= user.tipo%></span></a><br>
            </div>
        </li>
        <ul class="collapsible collapsible-accordion">
            <li class="bold <% if (menu === 'profile') { %>
        active
        <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">person</i>Perfil
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'profile') { %>
        active
        <%}%>"><a href="/profile"><i class="material-icons">person</i>Ver Perfil</a></li>

                        </ul>
                    </div>
                </li>
                <% if (user.tipo === '1') { %>
                <li class=" bold <% if (menu === 'Usuarios') { %> active <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">account_circle</i>Usuarios
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'crear_usuario') { %> active <%}%>"><a href="/crear_usuario"><i class="material-icons">person_add</i>Crear
                                    Usuario</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <%}%> <li class="bold <% if (menu === 'Asegurados') { %> active <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i
                            class="material-icons">people</i>Asegurados
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'buscarAsegurado') { %> active <%}%>"><a href="/buscarAsegurado"><i class="material-icons">search</i>Buscar Asegurado</a></li>
                            <li class="<% if (subm === 'test') { %> active <%}%>"><a href="/test"><i class="material-icons">credit_card</i>Menu2</a></li>
                            <li class="<% if (subm === '5') { %> active <%}%>"><a href="#"><i class="material-icons">devices</i>Menu3</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <li>
                <div class="divider"></div>
            </li>

        </ul>
        <!-- <button href="#" data-target="slide-out" class="sidenav-trigger show-on-large waves-effect waves-light btn"><i
            class="material-icons">menu</i></button> -->
    </header>