<%- include resources.ejs %>
<script src="../public/sidenav.js"></script>
<!-- <link rel="stylesheet" href="../public/css/sidenav.css"> -->
<title>INICIO - CARNETIZACIÓN</title>

<header>
    <nav class="top-nav">
        <!-- <button href="#" data-target="slide-out"
                class="sidenav-trigger show-on-large waves-effect waves-light btn"><i
                    class="material-icons">menu</i></button> -->
        <div><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                    class="material-icons">menu</i></a></div>
        <div>
            <a href="/CARNETIZACION/Inicio">
                SINEC - CARNETIZACIÓN
            </a>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background" style="background-color: darkslategrey;">
                    <!-- <img src="<%= typeof file != 'undefined' ? file : '' %>"> -->
                </div>
                <div class="row">
                    <div class="col s6">
                        <a href="#"><img class="circle materialboxed"
                                src="<%= typeof file != 'undefined' ? file : '' %>"></a>
                    </div>
                    <div class="col s6">
                        <!-- <a href="/logout" class="btn">Cerrar Sesion</a> -->
                        <!-- <button onclick="window.location.href='logout'" class="waves-effect waves-light btn-large">Cerrar Sesion</button> -->
                        <button onclick="window.location.href='/CARNETIZACION/logout'"
                            class="btn waves-effect waves-light">Salir
                        </button>
                    </div>
                </div>
                <!-- <a><span class="white-text name">Id: <%= user.id%></span></a> -->
                <a><span class="white-text name">Usuario: <%= user.email%></span></a>
                <a><span class="white-text name">Cuenta: <% if (user.tipo === '2') { %>
                        Normal
                        <%}%> <% if (user.tipo === '1') { %>
                        Administrador
                        <%}%></span></a><br>
            </div>
        </li>
        <ul class=" collapsible collapsible-accordion">
            <% if (user.tipo === '1') { %>
        <li>
            <div class="divider"></div>
        </li>
        <li class=" bold <% if (menu === 'Usuarios') { %> active <%}%>">
                <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">account_circle</i>Usuarios
                </div>
                <div class="collapsible-body">
                    <ul>
                        <li class="<% if (subm === 'crear_usuario') { %> active <%}%>"><a href="/CARNETIZACION/crear_usuario"><i class="material-icons">person_add</i>Crear
                                Usuario</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="bold <% if (menu === 'Firmas') { %> active <%}%>">
                <div class="collapsible-header waves-effect waves-teal"><i
                        class="material-icons">rate_review</i>Firmas
                </div>
                <div class="collapsible-body">
                    <ul>
                        <li class="<% if (subm === 'crear_firma') { %> active <%}%>"><a href="/CARNETIZACION/crear_firma"><i class="material-icons">photo_size_select_small</i>Crear Firmas</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <%}%> 
        <li class=" bold <% if (menu === 'profile') { %> active <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">person</i>Perfil
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'profile') { %> active <%}%>"><a href="/CARNETIZACION/Perfil"><i class="material-icons">person</i>Ver Perfil</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold <% if (menu === 'Asegurados') { %> active <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i
                            class="material-icons">people</i>Asegurados
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'buscarAsegurado') { %> active <%}%>"><a href="/CARNETIZACION/buscarAsegurado"><i class="material-icons">search</i>Buscar Asegurado</a></li>
                            <li class="<% if (subm === 'registrarAsegurado') { %> active <%}%>"><a href="/CARNETIZACION/registrarAsegurado"><i class="material-icons">person_add</i>Registrar Asegurado</a></li>
                            <!-- <li class="<% if (subm === 'listaAsegurados') { %> active <%}%>"><a href="/listaAsegurados"><i class="material-icons">credit_card</i>Lista de Asegurados</a></li> -->
                        </ul>
                    </div>
                </li>
                <li class="bold <% if (menu === 'Beneficiarios') { %> active <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i
                        class="material-icons">people_outline</i>Beneficiarios
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'buscarBeneficiario') { %> active <%}%>"><a href="/CARNETIZACION/buscarBeneficiario"><i class="material-icons">search</i>Buscar Beneficiario</a></li>
                            <li class="<% if (subm === 'registrarBeneficiario') { %> active <%}%>"><a href="/CARNETIZACION/registrarBeneficiario"><i class="material-icons">person_add</i>Registrar Beneficiario</a></li>
                            <!-- <li class="<% if (subm === 'listaBeneficiarios') { %> active <%}%>"><a href="/listaBeneficiarios"><i class="material-icons">credit_card</i>Lista de Beneficiarios</a></li> -->
                        </ul>
                    </div>
                </li>
                <!-- <li class="bold <% if (menu === 'Empresas') { %> active <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i
                            class="material-icons">business</i>Empresas
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'buscarEmpresa') { %> active <%}%>"><a href="/buscarEmpresa"><i class="material-icons">search</i>Buscar Empresa</a></li>
                            <li class="<% if (subm === 'listaEmpresas') { %> active <%}%>"><a href="/listaEmpresas"><i class="material-icons">credit_card</i>Lista de Empresas</a></li>
                        </ul>
                    </div>
                </li> -->
                <li class="bold <% if (menu === 'Base de Datos') { %> active <%}%>">
                    <div class="collapsible-header waves-effect waves-teal"><i
                            class="material-icons">storage</i>Base de Datos
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="<% if (subm === 'actualizarBD') { %> active <%}%>"><a href="/CARNETIZACION/actualizarBD"><i class="material-icons">update</i>Actualizar BD</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <li>
                <div class="divider"></div>
            </li>
        </ul>
        <!-- <button href="#" data-target="slide-out" class="sidenav-trigger show-on-large waves-effect waves-light btn"><i
            class="material-icons">menu</i></button> -->
            
</header>