<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>

<title>Home</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="container">
            <div class="row">
                <h1>Lista de Asegurados</h1>
                <blockquote>
                    <%= typeof aux != 'undefined' ? aux : '' %>
                </blockquote>
                <form action="/listaAsegurados" method="POST">
                    <table class="highlight centered" id="tb_asegurados">
                        <thead>
                            <tr>
                                <th>CODIGO</th>
                                <th>NOMBRE</th>
                                <th>FEC. NAC.</th>
                                <th>SEXO</th>
                                <th>CI.</th>
                                <th>TIPO DE SANGRE</th>
                                <th>ACCION</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for(var i=0; i<asegurados.length; i++) {%>
                            <tr>
                                <td><%= asegurados[i].cod %></td>
                                <td><%= asegurados[i].name %></td>
                                <td><%= asegurados[i].fec_nac %></td>
                                <td><%= asegurados[i].sexo %></td>
                                <td><%= asegurados[i].ci %> <%= asegurados[i].ci_loc %></td>
                                <td><%= asegurados[i].tipo_sangre %></td>

                                <!-- <td><button class="btn" name="cod_ase" type="submit" onclick="printJS({ printable: 'tb_asegurados', type: 'html', css:[
                                        'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css']
                                        })" value="<%#= asegurados[i].cod %>">ACCION</button></td> -->
                                <td><button class="btn" name="cod_ase" type="submit"
                                        value="<%= asegurados[i].cod %>">ACCION</button></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="col-md-12 center text-center">
            <span class="left" id="total_reg"></span>
            <ul class="pagination pager" id="myPager"></ul>
        </div>
    </main>
</body>

</html>