<!DOCTYPE html>
<html lang="en">

<script src="../public/sidenav.js"></script>
<!-- <link rel="stylesheet" href="../public/css/cuentas.css"> -->
<title>Perfil</title>

<body>
    <%- include home.ejs %>
    <main>
        <div class="container">
            <div class="center">
                <h1>Perfil</h1>
                <blockquote>
                    <%= typeof aux != 'undefined' ? aux : '' %>
                </blockquote>
                <p class="blue-text text-darken-2">
                    ID: <%= user.id %><br />
                    Email: <%= user.email%><br />
                    Estado: <%= user.estado%><br />
                    Tipo: <%= user.tipo%> <% if (user.tipo === '1') { %>
                    (Administrador)
                    <%}%><br />
                    <!-- </p>
                        <img src=" <%= typeof file != 'undefined' ? file : '' %>" class="materialboxed responsive-img"
                    > -->
                    <form method="POST" action="/fotoPerfil" enctype="multipart/form-data">
                    <div class="file-field input-field" style="align-items: center;">
                        <div>
                            <img src="<%= typeof file != 'undefined' ? file : '' %>" style="height: 250px;">
                        </div>
                        <div>
                            <img src="<%= typeof qr != 'undefined' ? qr : '' %>">
                        </div>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <input type="file" name="myPhoto" id="myPhoto">
                                    <i class="material-icons">file_upload</i>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Seleccionar Foto">
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="btnAgregarFoto"
                                id="btnAgregarFoto"> <% if (file !== '') { %>Actualizar Foto <%} else {%> Agregar Foto <%}%>
                                    <i class="material-icons right">add_a_photo</i>
                            </button>
                        </div>
                    </form>
            </div>
        </div>
    </main>
</body>

</html>